@import '@fontsource-variable/montserrat';
@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@import '~/editors/tiptap/TiptapEditor.css';

@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: 'Montserrat Variable', sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  /* powder_petal-900 */
  --background: #fffaf7;
  /* dusty_olive-500 */
  --foreground: #6b705c;
  /* desert_sand-900 */
  --card: #f8f2ed;
  --card-foreground: #6b705c;
  --popover: #f8f2ed;
  --popover-foreground: #6b705c;
  /* light_bronze-500 */
  --primary: #cb997e;
  /* light_bronze-100 */
  --primary-foreground: #2f1d13;
  /* powder_petal-700 */
  --secondary: #fff1e7;
  --secondary-foreground: #6b705c;
  /* powder_petal-800 */
  --muted: #fff6ef;
  /* ash_grey-500 */
  --muted-foreground: #b7b7a4;
  /* desert_sand-800 */
  --accent: #f1e4dc;
  /* dusty_olive-400 */
  --accent-foreground: #565a49;
  /* light_bronze-300 */
  --destructive: #8e5739;
  /* desert_sand-700 */
  --border: #ead7ca;
  --input: #ead7ca;
  /* light_bronze-400 */
  --ring: #b97550;
  --chart-1: #cb997e;
  --chart-2: #ddbea9;
  --chart-3: #a5a58d;
  --chart-4: #6b705c;
  --chart-5: #b7b7a4;
  --radius: 0.45rem;
  /* powder_petal-800 */
  --sidebar: #fff6ef;
  --sidebar-foreground: #6b705c;
  --sidebar-primary: #cb997e;
  --sidebar-primary-foreground: #2f1d13;
  --sidebar-accent: #f1e4dc;
  --sidebar-accent-foreground: #565a49;
  --sidebar-border: #ead7ca;
  --sidebar-ring: #b97550;
}

.dark {
  /* dusty_olive-200 */
  --background: #2b2d25;
  /* powder_petal-900 */
  --foreground: #fffaf7;
  /* dusty_olive-300 */
  --card: #404337;
  --card-foreground: #fffaf7;
  --popover: #404337;
  --popover-foreground: #fffaf7;
  /* light_bronze-500 */
  --primary: #cb997e;
  /* light_bronze-100 */
  --primary-foreground: #2f1d13;
  /* dusty_olive-400 */
  --secondary: #565a49;
  /* powder_petal-800 */
  --secondary-foreground: #fff6ef;
  --muted: #565a49;
  /* ash_grey-600 */
  --muted-foreground: #c6c6b6;
  --accent: #565a49;
  --accent-foreground: #fffaf7;
  /* light_bronze-300 */
  --destructive: #8e5739;
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: #cb997e;
  --chart-1: #cb997e;
  --chart-2: #ddbea9;
  /* dry_sage-600 */
  --chart-3: #b7b7a4;
  /* dusty_olive-700 */
  --chart-4: #a8ac9a;
  /* ash_grey-400 */
  --chart-5: #99997d;
  /* dusty_olive-300 */
  --sidebar: #404337;
  --sidebar-foreground: #fffaf7;
  --sidebar-primary: #cb997e;
  --sidebar-primary-foreground: #2f1d13;
  --sidebar-accent: #565a49;
  --sidebar-accent-foreground: #fffaf7;
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: #cb997e;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
